/* 공통 스타일 */
*{
  box-sizing: border-box;
  outline: none; /*지워야 디자인 먹힘*/
}

body {
  font-family: Datum, 돋음, Helvetica, sans-serif;
  background-color: #f5f6f7;
}

a {
  text-decoration: none;
  color: black;
}

input, select {
  width: 100%;
  height: 51px;
  border: solid 1px #dadada;
  margin: 5px 0 5px 0;
  padding: 10px 110px 10px 14px;
}


/* 헤더 영역 */
header {
  width: 100%;
  background-color: orange;
}
header .top {
  max-width: 768px;
  height: 124px;
  margin: 0 auto;
  background-color: beige;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 메인 영역 */
#container {
  max-width: 768px;
  background-color: royalblue;
  margin: 0 auto;
  height: 996px;
}
#container .section-input {
  width: 460px;
  margin: 0 auto;
  background-color: coral;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container .section-input  {
  align-items: flex-start;
  font-size: 14px;
  font-weight: 700;
}

#container .section-input .input-group-row {
  position: relative;
}
#container .section-input .input-group-row span {
  position: absolute;
  top: 25px;
  right: 13px;
}
#container .section-input label {
  margin: 19px 0 8px
}







/* 푸터 영역 */
footer {
  width: 100%;
  background-color: cadetblue;
}
footer .bottom {
  max-width: 768px;
  height: 83px;
  margin: 0 auto;
  background-color: burlywood;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}