<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dream Jeju</title>
  <link rel="stylesheet" href="./main.css">
</head>
<body>
  <div id="container">
    <header>
      <!-- 로고영역 -->
      <div id="logo">
      </div>
      <!-- 메뉴영역 -->
      <nav>
        
      </nav>
    </header>

    <!-- 이미지영역 -->
    <section id="slidShow">

    </section>
    
    <!-- 두개로 나뉨 -->
    <section id="contents">
      <div id="tab"></div>
      <div id="links"></div>
    </section>

    <footer></footer>



  </div>
</body>
</html>